
.sub-form p{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}


.sub-form input{
    border: 1px solid #DEE7EE;
    font-size: 18px;
    padding: 12px 24px;
    width: 80%;
    max-width: 500px;
    color: #333333;
    outline: none;
    margin-top: -10px;
    border-radius: 8px;
}

.sub-form select{
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
}

.sub-form textarea{
    border: 1px solid #DEE7EE;
    font-size: 18px;
    padding: 12px 24px;
    width: 80%;
    max-width: 500px;
    height: 150px;
    color: #333333;
    outline: none;
    margin-top: -10px;
    border-radius: 8px;
}


/* login dan register */
.login{
    margin-top: 56px;
}

.judul-halaman{
    margin-top: 40px;
    font-weight: 400;
    color: #333333;
    margin-bottom: -12px;
    line-height: 45px;
}

.sub-judul-halaman{
    color: #9E9E9E;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 400;
}

.box-potensi{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* end of login dan register */

.logout-button{
    text-align: center;
}
.logout-button p{
    font-size: 18px;
    display: flex;
    color: rgb(91, 199, 122);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logout-button p svg{
    margin-right: 10px;
}