.top-nav {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F6F8F9;
    box-sizing: border-box;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.04);
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.top-nav h3{
    letter-spacing: 0.05em;
    font-size: 20px;
    color: #5BC77A;
    font-weight: 900;
}

.top-nav svg{
    margin: 0px 16px;
}